# Core build and IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Subproject target folders
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# OS metadata
Thumbs.db
Desktop.ini
.DS_Store

# Temporary files
*.tmp
*.bak
*.log
